<nav class="sidebar-root" role="navigation" aria-label="Main menu">
  <!-- Desktop: Sidebar fijo -->
  <div class="sidebar-fixed" [class.collapsed]="collapsed" *ngIf="!mobileVisible">
    <div class="sidebar-header">
      <button class="sidebar-toggle" (click)="toggleSidebar()" [attr.aria-label]="collapsed ? 'Expandir menú' : 'Colapsar menú'">
        <i class="pi" [ngClass]="collapsed ? 'pi-angle-right' : 'pi-angle-left'"></i>
      </button>
    </div>
    <ul class="sidebar-list">
      <ng-container *ngFor="let item of menuItems">
        <li class="sidebar-item" [class.has-submenu]="item.items" [attr.aria-expanded]="item.expanded" [attr.aria-label]="item.label">
          <!-- Item sin submenú -->
          <a *ngIf="!item.items" [routerLink]="item.routerLink" pTooltip="{{collapsed ? item.label : ''}}" tooltipPosition="right" tabindex="0">
            <span class="sidebar-icon"><i class="pi" [ngClass]="item.icon"></i></span>
            <span class="sidebar-label" [style.opacity]="collapsed ? 0 : 1">{{ item.label }}</span>
          </a>
          <!-- Item con submenú -->
          <div *ngIf="item.items" class="sidebar-submenu-trigger"
               (click)="collapsed ? showPopover($event, item.items) : null"
               (keydown)="onKeydown($event, item)"
               pTooltip="{{collapsed ? item.label : ''}}" tooltipPosition="right" tabindex="0"
               [attr.aria-expanded]="item.expanded">
            <span class="sidebar-icon"><i class="pi" [ngClass]="item.icon"></i></span>
            <span class="sidebar-label" [style.opacity]="collapsed ? 0 : 1">{{ item.label }}</span>
            <i class="pi pi-chevron-right submenu-arrow" [class.rotated]="item.expanded" *ngIf="!collapsed"></i>
          </div>
          <!-- Submenú expandido (expandido) -->
          <ul class="sidebar-submenu" *ngIf="item.items && item.expanded && !collapsed">
            <li *ngFor="let sub of item.items">
              <a [routerLink]="sub.routerLink" tabindex="0">
                <span class="sidebar-icon"><i class="pi" [ngClass]="sub.icon"></i></span>
                <span class="sidebar-label">{{ sub.label }}</span>
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
    <!-- Popover para submenús en colapsado (eliminado porque no es válido en PrimeNG) -->
  </div>

  <!-- Móvil: Drawer -->
  <p-sidebar [(visible)]="mobileVisible" position="left" [modal]="true" [dismissible]="true" [baseZIndex]="3000" (onHide)="closeMobileSidebar()" [style]="{width: '80vw', maxWidth: '320px'}">
    <div class="sidebar-header">
      <button class="sidebar-toggle" (click)="closeMobileSidebar()" aria-label="Cerrar menú">
        <i class="pi pi-times"></i>
      </button>
    </div>
    <p-panelMenu [model]="menuItems"></p-panelMenu>
  </p-sidebar>
</nav>
