/* You can add global styles to this file, and also import other style files */

/* Sidebar PrimeNG PanelMenu override */
.p-panelmenu, .p-panelmenu .p-panelmenu-panel, .p-panelmenu .p-panelmenu-header, .p-panelmenu .p-panelmenu-content {
  background: #1e1e1e !important;
  border: none !important;
  box-shadow: none !important;
  color: #fff !important;
  border-radius: 0 !important;
}
.p-panelmenu .p-panelmenu-header, .p-panelmenu .p-panelmenu-content, .p-panelmenu .p-menuitem-link {
  border: none !important;
}
.p-panelmenu .p-menuitem-link {
  color: #fff !important;
  padding: 1rem 1.5rem !important;
  border-radius: 0 !important;
  background: none !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.p-panelmenu .p-menuitem-link:hover, .p-panelmenu .p-menuitem-link.p-menuitem-link-active {
  background: #2a2a2a !important;
  color: #fff !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem-link {
  margin-left: 0.5rem !important;
}
.p-panelmenu .pi {
  color: #fff !important;
  font-size: 24px !important;
}
